@media only screen and ((max-device-width: 768px) or (max-device-height: 768px)) {

    #navigation-bar{
        height: 280px;
    }

    #nav-list{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    #navigation-letters{
        font-size: 130.2px;
        font-weight: 100;
    }
    
    #principal{
        grid-template: 'header' 
                       'foto'
                       'box';
    }

    #principal{
        width: 600px;
    }

    #pannel-text-header{
        padding-top:200px;
    }

    #main-letters{
        height:150px;
    }

    .principal-letters{
        font-size: 120.2px;
        font-weight: 400;        
    }

    .texto-destacado{
        font-size: 60.2px;
        font-weight: 300;
    }

    .texto-informacion{
        font-weight: 700;
        font-size: 80px;
        display: block;
    }

    .texto-descripcion{
        font-weight: 400;
        font-size: 70px;
        word-break: break-word;
    }

    #principal-right {
        height: calc(100% - var(--websiteHeaderHeight));
        padding: 50px;
        margin-bottom: var(--websiteFotterHeight);
        align-items: center;
    }

    #pannel-text{
        top: 0px;
    }

    #navigation-letters{
        width: 40%;
        color: #783937FF;
        text-align: left;
        padding-top: 5%;
    }

    #descripcionboda{
        padding-right: 0px;
        width: 1440px;
        padding-bottom: 300px;
    }

    ul,li{
        width: 100%;
    }
    .texto-descripcion p {
        font-size: 70px;
    }
    #parrafoboda{
        word-break: break-all;
    }

    #myCarousel{
        left:300px;
        width: 600px;
        height: 900px;
    }

    #core-button{
        border: #e8a3a0;
        background-color: #e8a3a0;
        color: #783937FF;
        visibility: visible;
        width: 200px;
        height: 200px;
        font-weight: 700;
        font-size: 80px;
        margin-top: 3%;
        margin-left: 15%;
        z-index: 1000;
    }

    #exCollapsingNavbar{
        width: 70%;
        height: 100%;
        right: 0;
        opacity: 1;    
        position: fixed;
        z-index: 500;
        background-color: #e8a3a0;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
    }

    .link-list-collapse{
        white-space: inherit;
        font-weight: 700;
        font-size: 200px;
    }

    .links-top{
        font-weight: 700;
        font-size: 80px;
        padding-top: 200px;
    }
    .li-collapse{
        padding-top: 200px;
    }
}